.container {
	width: 800px;
	border: 1px solid black;
	margin:auto;
	padding :8px;
	top: 0;
	left: 0;

}

.kiri{
	width: 150px;
	height: 500px;
	background-color: red;
	float: left;
	
	
}

.tengah {
	width: 500px;
	height: 500px;
	background-color: blue;
	float: left;
	
	
}

.kanan {
	width: 150px;
	height: 500px;
	background-color: black;
	float: left;
	
	

}