.container {
	width: 700px;
	border: 1px solid black;
	margin:auto;
	padding: 5px;
}

.satu, .dua, .tiga {
	width: 100px;
	height: 100px;
}

.satu {
	background-color: orange;
}
.dua {
	background-color: pink;
	float: right;
}
.tiga {
	background-color: red;

}

img {
	width: 250px;
	height: 250px;
	float: right;
}