div{
	width: 200px;
	height:200px;
	position: absolute;
	

}

.satu {
	 background-color: salmon;
	z-index: 10;
	  }

.dua { 
	background-color: lightgreen; 		
	 top: 100px;
	 left:100px;
	 z-index: 12;
	 }
.tiga {
	background-color: blue; 
	top: 200px;
	left: 200px;
	z-index: 8;
}